// 多處共用
$background: #FFFFFF;
$title-black: #1C1C1C;
$link-blue: #0099FF;
$warning-red: #FC5A5A;
$success-green: #82C43C;
$focus-blue: #50B5FF;

// button
$button-orange: #FF6600;
$text-white: #FFFFFF;

// tweet-text
$text-primary: #1C1C1C;
$text-gray: #657786;
$text-orange: #FF6600;

// input
$input-background: #F5F8FA;
$input-content: #1C1C1C;
$input-gray: #657786;

// popular-user
$popular-background: #F5F8FA;

// tweet modal
$modal-outline: #E6ECF0;
$modal-title: #9197A3;

// alert
$alert-text: #000000;