%standard-boxshadow {
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
}

// 大標題文字樣式
%title-text {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 28px;
  color: $text-primary;
}

// 推文名字文字樣式
%second-title-text {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: $text-primary
}

// 推文內容文字樣式
%content-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $text-primary;
}

// tag文字樣式
%tag-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $text-gray;
}

// .modal-container共用樣式
%modal-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 60%, 0.6);
  // modal高超過瀏覽器的調整
  overflow-y: scroll;
}

// modal共用樣式
%modal {
  position: absolute;
  top: 54px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 3;
  border-radius: 14px;
  background-color: $background;
}

// modal關閉按鈕共用樣式
%modal-header-button {
  font-size: 20px;
  font-weight: 700;
  color: $button-orange;
}

// modal橘色按鈕共用樣式
%modal-orange-button {
  border-radius: 100px;
  background-color: $button-orange;
  color: $background;
}

// imput錯誤提示
%input-error-message {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #FC5A5A;
}