%standard-boxshadow {
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
}

// 大標題文字樣式
%title-text {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 28px;
  color: $text-primary;
}

// 推文名字文字樣式
%second-title-text {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: $text-primary
}

// 推文內容文字樣式
%content-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $text-primary;
}

// tag文字樣式
%tag-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $text-gray;
}