@import "_color.scss";
@import "_extends.scss";

.modal-container {
  @extend %modal-container;
}

.reply-modal {
  @extend %modal;
  width: 600px;
  min-height: 450px;

  .modal-header {
    button {
      @extend %modal-header-button;
    }
  }

  .modal-body {
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    // 被回覆推文區域
    .replied-tweet {
      @extend %content-text;
      font-weight: 400;

      .decorated-line {
        width: 2px;
        background-color: #CCD6DD;
;
      }

      .name {
        font-weight: 700;
      }

      .tag-group {
        @extend %tag-text;
        font-weight: 500;
      }

      .description {
        // 內容溢出目前設定為滾動條（隱藏）
        max-height: 70px;
        overflow-y: scroll;
      }

      .reply-target {
        font-size: 13px;
        color: $text-gray;
        .orange-name {
          color: $text-orange;
        }
      }
    }
    
    // 推文輸入區域
    .writing-tweet {
      min-height: 250px;
      font-size: 18px;
      font-weight: 500;

      textarea {
        resize: none;
        border: none;
      }

      button {
        height: 38px;
        width: 66px; 
        border-radius: 100px;
        background-color: $button-orange;
        padding: 10px, 15px, 10px, 15px;
        color: $background;
      }

      .warning {
        margin: 20px;
        color: $warning-red;
        font-size: 15px;
      }
    }
  }
}

// 待優化：行數過多時的卷軸，目前是隱藏