@import './color';
.tweet-cards {
  width: 600px;
  height: 100%;
  overflow-y: scroll;
}

.tweet-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid $modal-outline;
  border-left: 1px solid $modal-outline;
  border-right: 1px solid $modal-outline; 
}

.tweet-card-top {
  display: flex;
}

.tweet-card-avatar {
  // width: 50px;
  // height: 50px;
  margin: 0 0 0 15px;
}

.tweet-card-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tweet-card-content {
  display: flex;
  width: 100%;
  padding-left: 10px;
  cursor: pointer;
}

.tweet-card-name {
  font-weight: 700;
}

.tweet-card-account {
  margin-left: 5px;
  color: $text-gray;
}

.tweet-card-description {
  margin: 5px 0;
}

.tweet-card-icons {
  display: flex;
  padding-left: 75px;
}

.tweet-like-icon, .tweet-reply-icon {
  cursor: pointer;
}

.tweet-reply-icon {
  margin-right: 60px;
}

.icon-reply, .icon-like {
  display: inline;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 0;
}
