@import "_color.scss";
@import "_extends.scss";

.modal-container {
  @extend %modal-container;
}

.tweet-modal {
  @extend %modal;
  width: 600px;
  height: 300px;
  font-size: 18px;
  font-weight: 500;

  .modal-header {
    button {
      @extend %modal-header-button;
    }
  }

  .modal-body {
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    textarea {
      resize: none;
      border: none;
    }

    button {
      @extend %modal-orange-button;
      height: 38px;
      width: 66px; 
      padding: 10px, 15px, 10px, 15px;
    }

    .warning {
      margin: 20px;
      color: $warning-red;
      font-size: 15px;
    }
  }
}

// 待優化：行數過多時的卷軸，目前是隱藏