@import "_color.scss";
@import "_extends.scss";
$border-style: 1px solid #e6ecf0;

.wrapper {
  max-width: 600px;
  border-right: $border-style;
  border-left: $border-style;
}
.arrow {
  width: 17px;
  height: 14px;
  margin: 1.25rem;
  cursor: pointer;
}
.returnTweet {
  @extend %title-text;
}
.tweetNumber {
  @extend %tag-text;
  font-size: 13px;
  line-height: 19px;
}
.cover {
  max-width: 600px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 0%;
}
.avatar {
  width: 140px;
  height: 140px;
  transform: translateY(-50%);
  border: 4px solid #ffffff;
}
.editProfile {
  right: 0.1rem;
  transform: translate(-7%, -155%);
  width: 130px;
  height: 35px;
  @extend %second-title-text;
  line-height: 15px;
  color: $button-orange;
  border: 1px solid $button-orange;
  border-radius: 30px;
  margin-left: 0.4rem;
}
.iconWrapper {
  transform: translate(-7%, -155%);
  width: 35px;
  height: 35px;
  color: $button-orange;
  border: 1px solid $button-orange;
  border-radius: 30px;
  margin-right: 0.625rem;
  .iconMail {
    width: 17.5px;
    height: 15.75px;
    border-radius: 0px;
  }
  .iconNotify {
    width: 20.92px;
    height: 19.16px;
    border-radius: 0px;
  }
}
.profile {
  top: 4.3rem;
  margin-bottom: 7rem;
}
.followOther {
  right: 0.1rem;
}
.name {
  @extend %title-text;
}
.account {
  @extend %tag-text;
}
.note {
  margin: 10px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.number {
  @extend %content-text;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.text {
  @extend %content-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #657786;
}