@import "_color.scss";
@import "_extends.scss";

.modal-container {
  @extend %modal-container;
}

.user-edit-modal {
  @extend %modal;
  width: 600px;
  height: 657px;
  font-size: 18px;
  font-weight: 500;

  .modal-header {
    height: 60px;
    button {
      @extend %modal-header-button;
    }

    p {
      margin-left: 45px;
      font-weight: 700;
      font-size: 19px;
    }

    .save-button {
      @extend %modal-orange-button;
      height: 28px;
      width: 66px; 
      font-weight: 500;
      font-size: 18px;
    }
  }

  .modal-body {
    padding: 0px;

    // 上半部cover和avatar區塊
    .photo-area {
      height: 260px;
      position: relative;

      // 兩種image區域的共用樣式
      .input-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 4;
        cursor: pointer;
      }
      
      // cover上傳區域樣式
      .cover-form-group {
        margin: 0;
        width: 600px;
        height: 200px;
        position: relative;
        &:hover {
          opacity: 0.6;
          &::after {
            content: "\2912";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $background;
            font-size: 50px;
            cursor: pointer;
          }
        }
        
        .cover {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0px;
        }
      }

      // avatar上傳區域樣式
      .avatar-form-group {
        width: 120px;
        height: 120px;
        position: absolute;
        left: 15px;
        bottom: 0px;
        border: 4px solid $background;
        border-radius: 50%;

        &:hover {
          @extend %standard-boxshadow;
          &::after {
            content: "\2912";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $background;
            font-size: 30px;
            cursor: pointer;
          }
        }
        
        .avatar {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    // 下半部名稱和自我介紹區塊
    .text-area {
      padding: 20px 15px 60px 15px;

      .input-container {
        padding: 5px 15px; 
        background-color: $input-background;
        border-bottom: 2px solid $input-gray;
        border-radius: 4px;
        @extend %tag-text;

        label {
          margin: 0px;
        }

        textarea {
          resize: none;
          border: none;
          background-color: transparent;
          font-weight: 500;
          font-size: 19px;
        }
      }

      .word-limit {
        @extend %tag-text;
        text-align: right;
      }

      // warning style
      .warning-text {
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        color: $warning-red;
      }

      .warning-border {
        border-bottom: 2px solid $warning-red;
      }
    }
  }
}

// 待優化：行數過多時的卷軸，目前是隱藏