@import "_color.scss";
@import "_extends.scss";

.modal-container {
  @extend %modal-container;
}

.user-edit-modal {
  @extend %modal;
  width: 600px;
  height: 657px;
  font-size: 18px;
  font-weight: 500;

  .modal-header {
    height: 60px;
    button {
      @extend %modal-header-button;
    }

    p {
      margin-left: 45px;
      font-weight: 700;
      font-size: 19px;
    }

    .save-button {
      @extend %modal-orange-button;
      height: 28px;
      width: 66px; 
      font-weight: 500;
      font-size: 18px;
    }
  }

  .modal-body {
    padding: 0px;

    .photo-area {
      height: 260px;
      position: relative;

      // 兩種image區域的共用樣式
      .input-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
      
      // cover上傳區域樣式
      .cover-form-group {
        margin: 0;
        width: 600px;
        height: 200px;
        position: relative;
        &:hover {
          opacity: 0.6;
        }
        
        .cover {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0px;
        }
      }

      // avatar上傳區域樣式
      .avatar-form-group {
        width: 120px;
        height: 120px;
        position: absolute;
        left: 15px;
        bottom: 0px;
        border: 4px solid $background;
        border-radius: 50%;

        &:hover {
          @extend %standard-boxshadow;
        }
        
        .avatar {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
