@import "_color.scss";
@import "_extends.scss";

.modal-container {
  @extend %modal-container;
}

.user-edit-modal {
  @extend %modal;
  width: 600px;
  height: 300px;
  font-size: 18px;
  font-weight: 500;

  .modal-header {
    button {
      @extend %modal-header-button;
    }

    p {
      margin-left: 45px;
      font-weight: 700;
      font-size: 19px;
    }

    .save-button {
      height: 28px;
      width: 66px; 
      border-radius: 100px;
      background-color: $button-orange;
      color: $background;
      font-weight: 500;
      font-size: 18px;
    }
  }

  .modal-body {
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
}
